    <section>

        <div class="page-header pb-5">
                <div class="container text-center py-5">
                    <h1 class="display-4 text-uppercase mb-3 animated slideInDown">Acerca de</h1>
                    <nav aria-label="breadcrumb animated slideInDown">
                        <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                            <li class="breadcrumb-item">
                                <a class="text-white" href="index.html">
                                    Inicio
                                </a>
                            </li>
                            </li>
                            <li class="breadcrumb-item text-primary active" aria-current="page">
                                Acerca de
                            </li>
                        </ol>
                    </nav>
                </div>
        </div>

        <!-- About Start -->
        <div class="container-fluid">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-7 pb-0 pb-lg-5 py-5">
                        <div class="pb-0 pb-lg-5 py-5">
                            <div class="title wow fadeInUp" data-wow-delay="0.1s">
                                <div class="title-left">
                                    <h5>Trayectoria</h5>
                                    <h1>Sobre Nuestra Academia</h1>
                                </div>
                            </div>
                            <p class="mb-4 wow fadeInUp" data-wow-delay="0.2s">Somos una institución dedicada a la formación integral de futbolistas de alto rendimiento. Nuestro enfoque se centra en el desarrollo de habilidades técnicas, tácticas, físicas y mentales, preparando a nuestros talentos para competir al más alto nivel. Ofrecemos una metodología probada con entrenadores profesionales y convenios con clubes.
                            </p>
                            <ul class="list-group list-group-flush mb-5 wow fadeInUp" data-wow-delay="0.3s">
                                <li class="list-group-item bg-dark text-body border-secondary ps-0">
                                    <i class="fa fa-check-circle text-primary me-1"></i> Metodología de entrenamiento especializada y de vanguardia.
                                </li>
                                <li class="list-group-item bg-dark text-body border-secondary ps-0">
                                    <i class="fa fa-check-circle text-primary me-1"></i> Nutrición y preparación física para optimizar el rendimiento.
                                </li>
                                <li class="list-group-item bg-dark text-body border-secondary ps-0">
                                    <i class="fa fa-check-circle text-primary me-1"></i> Visibilidad y scouts para proyectar a nuestros jugadores.
                                </li>
                            </ul>
                            <div class="row wow fadeInUp" data-wow-delay="0.4s">
                                <div class="col-6">
                                    <a href="../views/contact.html" class="btn btn-outline-primary border-2 py-3 w-100" onclick="loadPage(event, this.href)" >Contáctanos</a>
                                </div>
                                <div class="col-6">
                                    <a href="#!" class="btn btn-primary py-3 w-100">Inscríbete Ahora</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.5s">
                        <img class="img-fluid" src="../public/img/about-football.png" alt="Imagen de canchas de entrenamiento de fútbol">
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Banner Start -->
        <div class="container-fluid py-5 bg-secondary">
            <div class="container py-5">
                <div class="row g-0 justify-content-center">
                    <div class="col-lg-7 text-center">
                        <div class="title mx-5 px-5 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="title-center">
                                <h5>Pruebas</h5>
                                <h1>¿Quieres ser parte de la élite?</h1>
                            </div>
                        </div>
                        <p class="fs-5 mb-5 wow fadeInUp" data-wow-delay="0.2s">Regístrate para nuestras próximas pruebas de selección. Una oportunidad para demostrar tu talento y unirte a la mejor academia de alto rendimiento.</p>
                        <form id="trialRegisterForm" class="position-relative wow fadeInUp" data-wow-delay="0.3s">
                        <input class="form-control border-0 bg-dark rounded-pill w-100 py-4 ps-4 pe-5" type="email"
                            placeholder="Tu correo electrónico" name="email_registro" required>
                        <button type="submit" class="btn btn-primary py-3 px-4 position-absolute top-0 end-0 me-2"
                            style="margin-top: 7px;">Regístrate</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner End -->


        <!-- Team Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="text-center">
                    <div class="title wow fadeInUp" data-wow-delay="0.1s">
                        <div class="title-center">
                            <h5>Jugadores</h5>
                            <h1>Nuestros Talentos Destacados</h1>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item">
                            <div class="team-body">
                                <div class="team-before">
                                    <span>Posición</span>
                                    <span>Edad</span>
                                    <span>Altura (cm)</span>
                                    <span>Peso (kg)</span>
                                    <span>Partidos</span>
                                </div>
                                <img class="img-fluid" src="../public/img/team-1.png" alt="Foto de futbolista">
                                <div class="team-after">
                                    <span>Delantero</span>
                                    <span>18</span>
                                    <span>185</span>
                                    <span>75</span>
                                    <span>55</span>
                                </div>
                            </div>
                            <a class="team-name" href="#">
                                <h5 class="text-uppercase mb-0">Gabriel Silva</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item">
                            <div class="team-body">
                                <div class="team-before">
                                    <span>Posición</span>
                                    <span>Edad</span>
                                    <span>Altura (cm)</span>
                                    <span>Peso (kg)</span>
                                    <span>Partidos</span>
                                </div>
                                <img class="img-fluid" src="../public/img/team-2.png" alt="Foto de futbolista">
                                <div class="team-after">
                                    <span>Mediocentro</span>
                                    <span>19</span>
                                    <span>178</span>
                                    <span>70</span>
                                    <span>80</span>
                                </div>
                            </div>
                            <a class="team-name" href="#">
                                <h5 class="text-uppercase mb-0">Matías Valdez</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item">
                            <div class="team-body">
                                <div class="team-before">
                                    <span>Posición</span>
                                    <span>Edad</span>
                                    <span>Altura (cm)</span>
                                    <span>Peso (kg)</span>
                                    <span>Partidos</span>
                                </div>
                                <img class="img-fluid" src="../public/img/team-3.png" alt="Foto de futbolista">
                                <div class="team-after">
                                    <span>Defensa Central</span>
                                    <span>20</span>
                                    <span>190</span>
                                    <span>82</span>
                                    <span>65</span>
                                </div>
                            </div>
                            <a class="team-name" href="#">
                                <h5 class="text-uppercase mb-0">Joaquín Reyes</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="team-item">
                            <div class="team-body">
                                <div class="team-before">
                                    <span>Posición</span>
                                    <span>Edad</span>
                                    <span>Altura (cm)</span>
                                    <span>Peso (kg)</span>
                                    <span>Partidos</span>
                                </div>
                                <img class="img-fluid" src="../public/img/team-4.png" alt="Foto de futbolista">
                                <div class="team-after">
                                    <span>Arquero</span>
                                    <span>17</span>
                                    <span>188</span>
                                    <span>80</span>
                                    <span>40</span>
                                </div>
                            </div>
                            <a class="team-name" href="#">
                                <h5 class="text-uppercase mb-0">Sebastián Díaz</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item">
                            <div class="team-body">
                                <div class="team-before">
                                    <span>Posición</span>
                                    <span>Edad</span>
                                    <span>Altura (cm)</span>
                                    <span>Peso (kg)</span>
                                    <span>Partidos</span>
                                </div>
                                <img class="img-fluid" src="../public/img/team-5.png" alt="Foto de futbolista">
                                <div class="team-after">
                                    <span>Lateral Der.</span>
                                    <span>18</span>
                                    <span>180</span>
                                    <span>74</span>
                                    <span>50</span>
                                </div>
                            </div>
                            <a class="team-name" href="#">
                                <h5 class="text-uppercase mb-0">Ricardo Gómez</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item">
                            <div class="team-body">
                                <div class="team-before">
                                    <span>Posición</span>
                                    <span>Edad</span>
                                    <span>Altura (cm)</span>
                                    <span>Peso (kg)</span>
                                    <span>Partidos</span>
                                </div>
                                <img class="img-fluid" src="../public/img/team-6.png" alt="Foto de futbolista">
                                <div class="team-after">
                                    <span>Extremo Izq.</span>
                                    <span>19</span>
                                    <span>175</span>
                                    <span>68</span>
                                    <span>75</span>
                                </div>
                            </div>
                            <a class="team-name" href="#">
                                <h5 class="text-uppercase mb-0">Lucas Perez</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item">
                            <div class="team-body">
                                <div class="team-before">
                                    <span>Posición</span>
                                    <span>Edad</span>
                                    <span>Altura (cm)</span>
                                    <span>Peso (kg)</span>
                                    <span>Partidos</span>
                                </div>
                                <img class="img-fluid" src="../public/img/team-7.png" alt="Foto de futbolista">
                                <div class="team-after">
                                    <span>Volante Ofen.</span>
                                    <span>21</span>
                                    <span>179</span>
                                    <span>73</span>
                                    <span>90</span>
                                </div>
                            </div>
                            <a class="team-name" href="#">
                                <h5 class="text-uppercase mb-0">Andrés Mendoza</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="team-item">
                            <div class="team-body">
                                <div class="team-before">
                                    <span>Posición</span>
                                    <span>Edad</span>
                                    <span>Altura (cm)</span>
                                    <span>Peso (kg)</span>
                                    <span>Partidos</span>
                                </div>
                                <img class="img-fluid" src="../public/img/team-8.png" alt="Foto de futbolista">
                                <div class="team-after">
                                    <span>Pivote</span>
                                    <span>20</span>
                                    <span>184</span>
                                    <span>78</span>
                                    <span>60</span>
                                </div>
                            </div>
                            <a class="team-name" href="#">
                                <h5 class="text-uppercase mb-0">Fernando Vidal</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
    </section>