<div class="page-header pb-5">
                <div class="container text-center py-5">
                    <h1 class="display-4 text-uppercase mb-3 animated slideInDown">Contactos</h1>
                    <nav aria-label="breadcrumb animated slideInDown">
                        <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                            <li class="breadcrumb-item">
                                <a class="text-white" href="index.html">
                                    Inicio
                                </a>
                            </li>
                            </li>
                            <li class="breadcrumb-item text-primary active" aria-current="page">
                                Contactos
                            </li>
                        </ol>
                    </nav>
                </div>
        </div>

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="title wow fadeInUp" data-wow-delay="0.1s">
                    <div class="title-left">
                        <h5>Contáctanos</h5>
                        <h1>Estamos Listos para Ayudarte</h1>
                    </div>
                </div>
                <p class="lh-base mb-4 wow fadeInUp" data-wow-delay="0.2s">¿Interesado en formar parte de ERA
                    SPORT, o tienes alguna consulta sobre nuestros programas de entrenamiento? No dudes en
                    ponerte en contacto con nuestro equipo. ¡Estamos aquí para responder todas tus preguntas y
                    guiarte en el camino hacia el éxito deportivo!</p>
                <table class="table table-dark mb-0 wow fadeInUp" data-wow-delay="0.3s">
                    <tr>
                        <td>TELÉFONO</td>
                        <td>+123 456 7890</td>
                    </tr>
                    <tr>
                        <td>E-MAIL</td>
                        <td>info@erasportacademy.com</td>
                    </tr>
                    <tr>
                        <td>DIRECCIÓN</td>
                        <td>Av. General Rumiñahui s/n, Sangolquí, Ecuador (ESPE)</td>
                    </tr>
                    <tr>
                        <td>HORARIOS DE ATENCIÓN</td>
                        <td>Lunes a Viernes: 9:00 AM - 6:00 PM</td>
                    </tr>
                    <tr class="border-dark">
                        <td>SÍGUENOS</td>
                        <td>
                            <a class="me-1" href="#!"><i class="fab fa-x-twitter"></i></a>
                            <a class="me-1" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="me-1" href="#!"><i class="fab fa-youtube"></i></a>
                            <a class="me-1" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <form id="contactForm">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control bg-secondary border-0" id="name"
                                    placeholder="Tu Nombre" required>
                                <label for="name">Tu Nombre</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control bg-secondary border-0" id="email"
                                    placeholder="Tu Correo Electrónico" required>
                                <label for="email">Tu Correo Electrónico</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control bg-secondary border-0" id="subject"
                                    placeholder="Asunto" required>
                                <label for="subject">Asunto</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control bg-secondary border-0"
                                    placeholder="Deja tu mensaje aquí" id="message" style="height: 150px"
                                    required></textarea>
                                <label for="message">Tu Mensaje</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-outline-primary border-2 w-100 py-3" type="submit"
                                id="sendEmailBtn">
                                Enviar Mensaje
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.3s">
    <iframe
        src="https://maps.google.com/maps?q=Universidad+de+las+Fuerzas+Armadas+Espe+Sangolquí+Ecuador&t=&z=14&ie=UTF8&iwloc=&output=embed"
        frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"
        style="width: 100%; height: 500px; filter: grayscale(100%) invert(92%) contrast(83%); border: 0;"></iframe>
</div>


