<section>
    <!-- Header Start -->
    <header>
            <div class="page-header pb-5">
                <div class="container text-center py-5">
                    <h1 class="display-4 text-uppercase mb-3 animated slideInDown">Servicios</h1>
                    <nav aria-label="breadcrumb animated slideInDown">
                        <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                            <li class="breadcrumb-item">
                                <a class="text-white" href="index.html">
                                    Inicio
                                </a>
                            </li>
                            </li>
                            <li class="breadcrumb-item text-primary active" aria-current="page">
                                Servicios
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
    </header>
    <!-- Header End -->

    <!-- Service Start -->
    <main>
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="text-center">
                    <div class="title wow fadeInUp" data-wow-delay="0.1s">
                        <div class="title-center">
                            <h5>Servicios</h5>
                            <h1>Servimos con calidad</h1>
                        </div>
                    </div>
                </div>
                <div class="service-item service-item-left">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-5">
                            <div class="service-img p-5 wow fadeInRight" data-wow-delay="0.2s">
                                <img class="img-fluid rounded-circle" src="/public/img/service1.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="service-text px-5 px-md-0 py-md-5 wow fadeInRight" data-wow-delay="0.5s">
                                <h3 class="text-uppercase">Entrenamiento de Alto Rendimiento</h3>
                                <p class="mb-4">
                                    Programas personalizados para mejorar la fuerza, velocidad y resistencia de cada
                                    deportista.
                                    Se diseñan rutinas adaptadas a su posición, disciplina y objetivos, con seguimiento
                                    continuo de su progreso.
                                </p>
                                
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    Leer Mas
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Descripcion</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Potencia tus habilidades con planes de entrenamiento diseñados por expertos en rendimiento físico y técnico.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-item service-item-right">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-5 order-md-1 text-md-end">
                            <div class="service-img p-5 wow fadeInLeft" data-wow-delay="0.2s">
                                <img class="img-fluid rounded-circle" src="/public/img/service2.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="service-text px-5 px-md-0 py-md-5 text-md-end wow fadeInLeft"
                                data-wow-delay="0.5s">
                                <h3 class="text-uppercase">Coaching Mental y Motivacional</h3>
                                <p class="mb-4">
                                    Sesiones de psicología deportiva enfocadas en la concentración, manejo de presión y fortalecimiento de la mentalidad ganadora.
                                    Ideal para deportistas que buscan alcanzar su máximo potencial mental.
                                </p>
                                
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    Leer Mas
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Descripcion</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Entrena tu mente para competir con enfoque, confianza y mentalidad de campeón.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-item service-item-left">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-5">
                            <div class="service-img p-5 wow fadeInRight" data-wow-delay="0.2s">
                                <img class="img-fluid rounded-circle" src="/public/img/service3.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="service-text px-5 px-md-0 py-md-5 wow fadeInRight" data-wow-delay="0.5s">
                                <h3 class="text-uppercase">Evaluación y Recuperación Física</h3>
                                <p class="mb-4">
                                    Análisis biomecánicos, estudios de rendimiento y terapias de recuperación postcompetencia.
                                    Utilizamos tecnología de vanguardia para prevenir lesiones y mantener al atleta en su mejor forma.
                                </p>
                                
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    Leer Mas
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Descripcion</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Cuida tu cuerpo con planes de recuperación personalizados y tecnología avanzada.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-item service-item-right">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-5 order-md-1 text-md-end">
                            <div class="service-img p-5 wow fadeInLeft" data-wow-delay="0.2s">
                                <img class="img-fluid rounded-circle" src="/public/img/service4.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="service-text px-5 px-md-0 py-md-5 text-md-end wow fadeInLeft"
                                data-wow-delay="0.5s">
                                <h3 class="text-uppercase">Análisis de Rendimiento con Inteligencia Artificial</h3>
                                <p class="mb-4">
                                    Utilizamos herramientas de inteligencia artificial y análisis de datos para medir el desempeño de los deportistas en tiempo real.
                                    A través de sensores y métricas avanzadas, identificamos áreas de mejora y optimizamos cada entrenamiento.
                                </p>
                                
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    Leer Mas
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Descripcion</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Mejora tu rendimiento con análisis inteligentes que transforman tus datos en resultados reales.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Service End -->

</section>
