<section>
    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center my-5">
                <div class="title wow fadeInUp" data-wow-delay="0.1s">
                    <div class="title-center">
                        <h5>Somos ERA</h5>
                        <h1>Conoce a Nuestros Colaboradores</h1>
                    </div>
                </div>
            </div>
            <div class="g-3">
                <div class="row gy-4">
                    <!-- Player 1 -->
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="team-item">
                                    <div class="team-body">
                                        <div class="team-before">
                                            <span>Ocupacion</span>
                                            <span>Edad</span>
                                            <span>Título</span>
                                            <span>Apodo</span>
                                        </div>
                                        <img
                                            class="img-fluid"
                                            src="../public/img/richy.png"
                                            alt="Foto de futbolista"
                                        />
                                        <div class="team-after">
                                            <span>Entrenador</span>
                                            <span>20</span>
                                            <span>Ing. Fortnite</span>
                                            <span>Richi Monch</span>
                                        </div>
                                    </div>
                                    <a class="team-name" href="#">
                                        <h5 class="text-uppercase mb-0">
                                            Ricardo Monge
                                        </h5>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="player-info bg-dark">
                                    <div
                                        class="title wow fadeInUp"
                                        data-wow-delay="0.1s"
                                    >
                                        <div class="title-left">
                                            <h5>Preparador Físico</h5>
                                            <h1>Ricardo Monge</h1>
                                            <p
                                                class="team-desc mb-4 wow fadeInUp text-start text-muted"
                                                data-wow-delay="0.2s"
                                            >
                                                Mi nombre es
                                                <strong>Ricardo Monge</strong>
                                                y soy preparador físico
                                                especializado en atletas de alto
                                                rendimiento. Mi objetivo es
                                                desarrollar la forma física de
                                                mis jugadores hasta alcanzar su
                                                máximo potencial genético.
                                                Entiendo que en el deporte de
                                                élite, cada detalle cuenta: no
                                                se trata solo de entrenar más
                                                duro, sino de entrenar con mayor
                                                inteligencia.
                                            </p>
                                        </div>
                                    </div>
                                    <p
                                        class="mb-4 wow fadeInUp"
                                        data-wow-delay="0.2s"
                                    ></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Player 2 -->
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="team-item">
                                    <div class="team-body">
                                        <div class="team-before">
                                            <span>Ocupacion</span>
                                            <span>Edad</span>
                                            <span>Título</span>
                                            <span>Apodo</span>
                                        </div>
                                        <img
                                            class="img-fluid"
                                            src="../public/img/TevsMentor.png"
                                            alt="Foto de futbolista"
                                        />
                                        <div class="team-after">
                                            <span>Mentor</span>
                                            <span>20</span>
                                            <span>Bachiller</span>
                                            <span>Tevs</span>
                                        </div>
                                    </div>
                                    <a class="team-name" href="#">
                                        <h5 class="text-uppercase mb-0">
                                            Esteban Quiroga
                                        </h5>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="player-info bg-dark">
                                    <div
                                        class="title wow fadeInUp"
                                        data-wow-delay="0.1s"
                                    >
                                        <div class="title-left">
                                            <h5>Mentor</h5>
                                            <h1>Esteban Quiroga</h1>
                                            <p
                                                class="team-desc mb-4 wow fadeInUp text-start text-muted"
                                                data-wow-delay="0.2s"
                                            >
                                                El talento gana partidos, pero
                                                la mentalidad y la estrategia
                                                ganan campeonatos. Mi rol como
                                                mentor del equipo es ser el
                                                arquitecto de nuestra filosofía
                                                de rendimiento. Aporto la visión
                                                a largo plazo y la inteligencia
                                                táctica. No me enfoco en el
                                                ejercicio diario, sino en el
                                                desarrollo integral del atleta:
                                                su carácter, su disciplina y su
                                                capacidad para tomar decisiones
                                                bajo presión extrema.
                                            </p>
                                        </div>
                                    </div>
                                    <p
                                        class="mb-4 wow fadeInUp"
                                        data-wow-delay="0.2s"
                                    ></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Player 3 -->
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="team-item">
                                    <div class="team-body">
                                        <div class="team-before">
                                            <span>Ocupacion</span>
                                            <span>Edad</span>
                                            <span>Título</span>
                                            <span>Apodo</span>
                                        </div>
                                        <img
                                            class="img-fluid"
                                            src="../public/img/angelito.png"
                                            alt="Foto de futbolista"
                                        />
                                        <div class="team-after">
                                            <span>Conserje</span>
                                            <span>20</span>
                                            <span>Primaria</span>
                                            <span>Angelito Espe</span>
                                        </div>
                                    </div>
                                    <a class="team-name" href="#">
                                        <h5 class="text-uppercase mb-0">
                                            Angel Sabando
                                        </h5>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="player-info bg-dark">
                                    <div
                                        class="title wow fadeInUp"
                                        data-wow-delay="0.1s"
                                    >
                                        <div class="title-left">
                                            <h5>Conserje</h5>
                                            <h1>Angel Sabando</h1>
                                            <p
                                                class="team-desc mb-4 wow fadeInUp text-start text-muted"
                                                data-wow-delay="0.2s"
                                            >
                                                Mi misión en ERA Sport es simple: crear un
                                                entorno impecable que te permita
                                                concentrarte al 100% en tu
                                                rendimiento. Como coordinador de
                                                nuestras instalaciones de clase
                                                mundial, me aseguro de que cada
                                                espacio, desde el gimnasio hasta
                                                las zonas de recuperación, esté
                                                en condiciones óptimas en todo
                                                momento.
                                            </p>
                                        </div>
                                    </div>
                                    <p
                                        class="mb-4 wow fadeInUp"
                                        data-wow-delay="0.2s"
                                    ></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
</section>
