<section>
    <!-- Header Start -->
    <header>
            <div class="page-header pb-5">
                <div class="container text-center py-5">
                    <h1 class="display-4 text-uppercase mb-3 animated slideInDown">Testimonios</h1>
                    <nav aria-label="breadcrumb animated slideInDown">
                        <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Paginas</a></li>
                            <li class="breadcrumb-item text-primary active" aria-current="page">Testimonios</li>
                        </ol>
                    </nav>
                </div>
            </div>
    </header>
    <!-- Header End -->

    <!-- Testimonial Start -->
    <main>
        
        <div class="container-fluid py-5 bg-secondary">
            <div class="container py-5">
                <div class="text-center">
                    <div class="title wow fadeInUp" data-wow-delay="0.1s">
                        <div class="title-center">
                            <h5>Testimonios</h5>
                            <h1>Nuestros Clientes</h1>
                        </div>
                    </div>
                </div>

                <div id="carouselVideoExample" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselVideoExample" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Video 1"></button>
                        <button type="button" data-bs-target="#carouselVideoExample" data-bs-slide-to="1"
                            aria-label="Video 2"></button>
                        <button type="button" data-bs-target="#carouselVideoExample" data-bs-slide-to="2"
                            aria-label="Video 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <!-- Video 1 -->
                        <div class="carousel-item active">
                            <video class="d-block w-100" controls loop playsinline>
                                <source src="/public/video/messi.mp4" type="video/mp4">
                                Tu navegador no soporta video HTML5.
                            </video>
                        </div>

                        <!-- Video 2 -->
                        <div class="carousel-item">
                            <video class="d-block w-100" controls loop playsinline>
                                <source src="/public/video/yamal.mp4" type="video/mp4">
                                Tu navegador no soporta video HTML5.
                            </video>
                        </div>

                        <!-- Video 3 -->
                        <div class="carousel-item">
                            <video class="d-block w-100" controls loop playsinline>
                                <source src="/public/video/valencia.mp4" type="video/mp4">
                                Tu navegador no soporta video HTML5.
                            </video>
                        </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselVideoExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselVideoExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>

                <script>
                    const carousel = document.querySelector('#carouselVideoExample');
                    carousel.addEventListener('slide.bs.carousel', event => {
                        const videos = carousel.querySelectorAll('video');
                        videos.forEach(video => video.pause());
                    });

                    carousel.addEventListener('slid.bs.carousel', event => {
                        const activeVideo = carousel.querySelector('.carousel-item.active video');
                        if (activeVideo) activeVideo.play();
                    });
                </script>


            </div>
        </div>
    </main>
    <!-- Testimonial End -->
</section>