/* Fuente variable Josefin Sans */
@font-face {
  font-family: 'Josefin Sans';
  src: url('./Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 700; /* Rango disponible */
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('./Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 700;
  font-style: italic;
}

/* Work Sans (cuando me confirmes los archivos te lo añado aquí) */
